{
  "openapi": "3.0.0",
  "info": {
    "title": "demo-data",
    "version": "1.0",
    "description": "",
    "contact": {
      "name": "omer cohen",
      "email": "1omercohen@gmail.com"
    }
  },
  "servers": [
    {
      "url": "https://apidemo.stoplight.io/",
      "description": "mock-server-api"
    }
  ],
  "paths": {
    "/login": {
      "post": {
        "summary": "Login",
        "tags": [
          "users"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "user": {
                      "type": "object",
                      "required": [
                        "username",
                        "email",
                        "send_to"
                      ],
                      "properties": {
                        "username": {
                          "type": "string",
                          "minLength": 4,
                          "maxLength": 10,
                          "pattern": "[a-z]"
                        },
                        "email": {
                          "type": "string",
                          "format": "email"
                        },
                        "send_to": {
                          "type": "string",
                          "format": "email"
                        }
                      }
                    },
                    "status": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string",
                      "format": "email"
                    }
                  },
                  "required": [
                    "user",
                    "status"
                  ]
                }
              }
            }
          }
        },
        "operationId": "post-login",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "username": {
                    "type": "string",
                    "pattern": "[a-z]",
                    "minLength": 4,
                    "maxLength": 10
                  },
                  "password": {
                    "type": "string",
                    "format": "password",
                    "pattern": "[A-Za-z0-9!@#$%^&*]",
                    "minLength": 6,
                    "maxLength": 15
                  }
                },
                "required": [
                  "username",
                  "password"
                ]
              }
            }
          },
          "description": "user authentication"
        }
      }
    },
    "/users": {
      "get": {
        "summary": "Get All Users",
        "tags": [
          "users"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "user": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "minimum": 1,
                            "exclusiveMinimum": true
                          },
                          "username": {
                            "type": "string",
                            "pattern": "[a-z]",
                            "minLength": 4,
                            "maxLength": 10
                          },
                          "email": {
                            "type": "string",
                            "format": "email"
                          },
                          "send_to": {
                            "type": "string",
                            "format": "email"
                          }
                        },
                        "required": [
                          "id",
                          "username",
                          "email",
                          "send_to"
                        ]
                      }
                    },
                    "status": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "user",
                    "status"
                  ]
                }
              }
            }
          }
        },
        "operationId": "get-users"
      }
    },
    "/user/{id}": {
      "get": {
        "summary": "Get User",
        "tags": [
          "users"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "boolean"
                    },
                    "user": {
                      "required": [
                        "username",
                        "email",
                        "send_to",
                        "id"
                      ],
                      "type": "object",
                      "properties": {
                        "username": {
                          "type": "string",
                          "minLength": 4,
                          "maxLength": 10,
                          "pattern": "[a-z]"
                        },
                        "email": {
                          "type": "string",
                          "format": "email"
                        },
                        "send_to": {
                          "type": "string",
                          "format": "email"
                        },
                        "id": {
                          "type": "integer",
                          "minimum": 1,
                          "exclusiveMinimum": true
                        }
                      }
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "user",
                    "message"
                  ]
                }
              }
            }
          },
          "": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "user": {
                      "type": "object",
                      "required": [
                        "id",
                        "username",
                        "email",
                        "send_to"
                      ],
                      "properties": {
                        "id": {
                          "type": "integer",
                          "minimum": 1,
                          "exclusiveMinimum": true
                        },
                        "username": {
                          "type": "string",
                          "minLength": 4,
                          "maxLength": 10,
                          "pattern": "[a-z]"
                        },
                        "email": {
                          "type": "string",
                          "format": "email"
                        },
                        "send_to": {
                          "type": "string",
                          "format": "email"
                        }
                      }
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "user"
                  ]
                }
              }
            }
          }
        },
        "operationId": "get-user-:id"
      },
      "parameters": [
        {
          "schema": {
            "type": "integer",
            "exclusiveMinimum": true,
            "minimum": 1
          },
          "name": "id",
          "in": "path",
          "required": true,
          "description": ""
        }
      ]
    },
    "/user/{userId}/customer/": {
      "get": {
        "summary": "Get Customers Of User",
        "tags": [
          "customers",
          "users"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "customers": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "minimum": 1,
                            "exclusiveMinimum": true
                          },
                          "first_name": {
                            "type": "string"
                          },
                          "last_name": {
                            "type": "string"
                          },
                          "full_name": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string",
                            "format": "email"
                          },
                          "phone": {
                            "type": "string",
                            "pattern": "05(0|1|2|3|4|5|7|8|9)[0-9]{7}",
                            "minLength": 10,
                            "maxLength": 10
                          }
                        },
                        "required": [
                          "id",
                          "first_name",
                          "last_name",
                          "full_name",
                          "email",
                          "phone"
                        ]
                      }
                    },
                    "status": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "customers",
                    "status"
                  ]
                },
                "examples": {}
              }
            }
          }
        },
        "operationId": "get-user-userId-customer",
        "parameters": []
      },
      "post": {
        "summary": "Add Customer For Customer",
        "tags": [
          "users",
          "customers"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "message"
                  ]
                }
              }
            }
          }
        },
        "operationId": "post-user-userId-customer",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "first_name": {
                    "type": "string"
                  },
                  "last_name": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "phone": {
                    "type": "string"
                  }
                },
                "required": [
                  "first_name",
                  "last_name",
                  "email",
                  "phone"
                ]
              }
            }
          }
        }
      },
      "parameters": [
        {
          "schema": {
            "type": "integer",
            "minimum": 1,
            "exclusiveMinimum": true
          },
          "name": "userId",
          "in": "path",
          "required": true
        }
      ]
    },
    "/user/:userId/customer/:customerId": {
      "get": {
        "summary": "get customer of user",
        "tags": [
          "customers",
          "users"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "$ref": "../models/customers.v1.yaml"
                    },
                    "first_name": {
                      "type": "string"
                    },
                    "last_name": {
                      "type": "string"
                    },
                    "full_name": {
                      "type": "string"
                    },
                    "email": {
                      "type": "string",
                      "format": "email"
                    },
                    "phone": {
                      "type": "string"
                    },
                    "schedules": {
                      "type": "object",
                      "required": [
                        "id",
                        "day",
                        "time",
                        "created"
                      ],
                      "properties": {
                        "id": {
                          "$ref": "../models/schedules.v1.yaml"
                        },
                        "day": {
                          "type": "string",
                          "format": "date"
                        },
                        "time": {
                          "type": "string",
                          "format": "time"
                        },
                        "created": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "is_complete": {
                          "type": "boolean"
                        },
                        "is_paid": {
                          "type": "boolean"
                        },
                        "comments": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "id",
                    "first_name",
                    "last_name",
                    "full_name",
                    "email",
                    "phone",
                    "schedules"
                  ]
                }
              }
            }
          }
        },
        "operationId": "get-user-userId-customer-customerId"
      },
      "parameters": []
    },
    "/user/:userId/customer/:customerId/schedule": {
      "get": {
        "summary": "get customer schedulers of user",
        "tags": [
          "schedules",
          "customers",
          "users"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "customer": {
                      "type": "object",
                      "required": [
                        "first_name",
                        "last_name",
                        "full_name",
                        "email",
                        "phone",
                        "schedules"
                      ],
                      "properties": {
                        "first_name": {
                          "type": "string"
                        },
                        "last_name": {
                          "type": "string"
                        },
                        "full_name": {
                          "type": "string"
                        },
                        "email": {
                          "type": "string",
                          "format": "email"
                        },
                        "phone": {
                          "type": "string"
                        },
                        "schedules": {
                          "type": "array",
                          "items": {
                            "$ref": "../models/schedules.v1.yaml"
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "status",
                    "customer"
                  ]
                }
              }
            }
          }
        },
        "operationId": "get-user-userId-customer-customerId-schedule"
      }
    },
    "/user/userId/schedule": {
      "get": {
        "summary": "get schedule of customer",
        "tags": [
          "schedules",
          "users"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "schedules": {
                      "type": "array",
                      "items": {
                        "$ref": "../models/schedules.v1.yaml"
                      }
                    }
                  },
                  "required": [
                    "status",
                    "schedules"
                  ]
                }
              }
            }
          }
        },
        "operationId": "get-user-userId-schedule"
      }
    },
    "/user/userId/receipt": {
      "post": {
        "summary": "",
        "operationId": "post-user-userId-receipt",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "receipts": {
                      "type": "array",
                      "items": {
                        "$ref": "../models/receipts.v1.yaml"
                      }
                    }
                  },
                  "required": [
                    "status",
                    "receipts"
                  ]
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "start": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "end": {
                    "type": "string",
                    "format": "date-time"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {},
    "securitySchemes": {}
  }
}